:root{
    --easRed: #be0817;
    --easYellow: #ffec3a;
    --easGrey: #f2f2f2;
    --easBlue: #69afeb;
}

@font-face {
    font-family: OPTIRondo-Bold;
    font-weight: bold;
    src: url(OPTIRondo-Bold.otf), format("opentype");
}

body{
    margin: 0; border: 0; padding: 0;
    height: 100vh;
    background-color: var(--easBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--easRed);
    min-height: 850px;
    min-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.title_box{
    color: var(--easYellow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: OPTIRondo-Bold;
    height: 120px;
}

/* .title_left, .title_centre, .title_right{

} */

.title_left, .title_right{
font-size: 15px;
padding-top: 15px;
}

.title_centre{
font-size: 45px;
}

.grid_container{
    background-color: var(--easGrey);
    height: 640px;
    width: 640px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    outline: solid 1px black;
}

.controls{
    height: 120px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.main_controls{
    width: 640px;
    height: 120px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    color: var(--easYellow);
    font-family: OPTIRondo-Bold;
}

.left_knob, .right_knob{
    width: 75px;
    height: 75px;
    background: white;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
}