:root{
    --easRed: #be0817;
    --easYellow: #ffec3a;
    --easGrey: #f2f2f2;
    --easBlue: #69afeb;
}

@font-face {
    font-family: OPTIRondo-Bold;
    font-weight: bold;
    src: url(OPTIRondo-Bold.otf), format("opentype");
}

body{
    margin: 0; border: 0; padding: 0;
    height: 100vh;
    background-color: var(--easBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--easRed);
    /* min-height: 850px;
    min-width: 850px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.title_box{
    color: var(--easYellow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: OPTIRondo-Bold;
    height: 100px;
    /* Temporary for sizing: */
    outline: solid 1px black;
}

.title_left, .title_right{
font-size: 15px;
padding-top: 15px;
/* Temporary for sizing: */
outline: solid 1px black;
}

.title_centre{
font-size: 45px;
/* Temporary for sizing: */
outline: solid 1px black;
}

.grid_container{
    background-color: var(--easGrey);
    height: 580px;
    width: 580px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    border: solid 1px black;
}

.controls{
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    align-items: center;
    /* Temporary for sizing: */
    outline: solid 1px black;
}

.main_controls{
    width: 580px;
    /* height: 120px; */
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    color: var(--easYellow);
    font-family: OPTIRondo-Bold;
    /* Temporary for sizing: */
    outline: solid 1px black;
}

.left_knob, .right_knob{
    width: 75px;
    height: 75px;
    background: white;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.left_knob{
    margin-left: 10px;
}

.right_knob{
    margin-right: 10px;
}

/* .cell:hover {
    background-color: darkgrey;
} */